// PlayfairDisplay
@font-face 
	font-family: "Playfair"
	src: url("../fonts/Playfair/PlayfairDisplayRegular/PlayfairDisplayRegular.eot")
	src: url("../fonts/Playfair/PlayfairDisplayRegular/PlayfairDisplayRegular.eot?#iefix") format("embedded-opentype"),
	url("../fonts/Playfair/PlayfairDisplayRegular/PlayfairDisplayRegular.woff") format("woff"),
	url("../fonts/Playfair/PlayfairDisplayRegular/PlayfairDisplayRegular.ttf") format("truetype")
	font-style: normal
	font-weight: normal

@font-face 
	font-family: "Playfair"
	src: url("../fonts/Playfair/PlayfairDisplayBold/PlayfairDisplayBold.eot")
	src: url("../fonts/Playfair/PlayfairDisplayBold/PlayfairDisplayBold.eot?#iefix") format("embedded-opentype"),
	url("../fonts/Playfair/PlayfairDisplayBold/PlayfairDisplayBold.woff") format("woff"),
	url("../fonts/Playfair/PlayfairDisplayBold/PlayfairDisplayBold.ttf") format("truetype")
	font-style: normal
	font-weight: bold

@font-face 
	font-family: "Playfair"
	src: url("../fonts/Playfair/PlayfairDisplayItalic/PlayfairDisplayItalic.eot")
	src: url("../fonts/Playfair/PlayfairDisplayItalic/PlayfairDisplayItalic.eot?#iefix") format("embedded-opentype"),
	url("../fonts/Playfair/PlayfairDisplayItalic/PlayfairDisplayItalic.woff") format("woff"),
	url("../fonts/Playfair/PlayfairDisplayItalic/PlayfairDisplayItalic.ttf") format("truetype")
	font-style: italic
	font-weight: normal

// PlayfairDisplay
@font-face 
	font-family: "Lato"
	src: url("../fonts/Lato/LatoLight/LatoLight.eot")
	src: url("../fonts/Lato/LatoLight/LatoLight.eot?#iefix") format("embedded-opentype"),
	url("../fonts/Lato/LatoLight/LatoLight.woff") format("woff"),
	url("../fonts/Lato/LatoLight/LatoLight.ttf") format("truetype")
	font-style: normal
	font-weight: 300

@font-face 
	font-family: "Lato"
	src: url("../fonts/Lato/LatoRegular/LatoRegular.eot")
	src: url("../fonts/Lato/LatoRegular/LatoRegular.eot?#iefix") format("embedded-opentype"),
	url("../fonts/Lato/LatoRegular/LatoRegular.woff") format("woff"),
	url("../fonts/Lato/LatoRegular/LatoRegular.ttf") format("truetype")
	font-style: normal
	font-weight: normal

@font-face 
	font-family: "Lato"
	src: url("../fonts/Lato/LatoBold/LatoBold.eot")
	src: url("../fonts/Lato/LatoBold/LatoBold.eot?#iefix") format("embedded-opentype"),
	url("../fonts/Lato/LatoBold/LatoBold.woff") format("woff"),
	url("../fonts/Lato/LatoBold/LatoBold.ttf") format("truetype")
	font-style: normal
	font-weight: bold
