header
	position: fixed
	top: 0
	left: 0
	width: 100%
	border-top: 15px solid transparent
	border-bottom: 15px solid transparent

.header--content
	display: flex
	align-items: center
	justify-content: space-between
	padding: 0 15px

.header--nav
	display: flex
	padding: 0
	margin: 0
	list-style: none

.header--nav-item
	a
		font: 300 11px "Lato"
		text-transform: uppercase
		color: white
	&:not(:last-child)
		&:after
			content: "–"
			display: inline-block
			color: white
			margin: 0 15px 0 10px 

.header--lang
	display: flex
	padding: 0
	margin: 0
	list-style: none

.header--lang-item
	&:not(:last-child)
		margin-right: 15px
	a
		font: 300 15px "Lato"
		color: white
