// .products
// 			.products--item
// 				.products--item-image
// 					img(src="img/goods-1.jpg", alt="Лен сантехнический")
// 				a(href="#").products--item-title Лен сантехнический
// 				ul.products--item-goods
.products
	display: flex
	justify-content: space-between
	margin: 0 -15px
	padding: 37px
	background-color: white

.products--item
	text-align: center

.products--item-title
	display: block
	margin: 33px 0 17px
	font: 18px "Playfair"
	color: #434141

.products--item-goods
	padding-left: 0
	list-style: none
	li
		font: 13px "Lato"
		color: #677987
		margin-bottom: 10px
