@import 'fonts.sass'
@import 'colors.sass'
@import 'mixins.sass'
@import 'classes.sass'

a
	color: initial
	transition: all 0.3s
	&:hover,&:focus
		text-decoration: none
		opacity: 0.8
		color: initial

body
	position: relative

.background
	width: 100%
	position: relative

.container-fluid
	padding-left: 0
	padding-right: 0
	&._banner
		min-height: 100vh
		background-attachment: fixed
		color: white
		
		&._index
			padding: 340px 0 50px
			background-image: url("../img/index-banner-bg.jpg")
			background-size: cover
			h1
				margin-bottom: 90px
				text-align: center

body
	margin: 0

@import "header.sass"
@import "index.sass"

@media (min-width: 1200px)
	.container
		width: 1200px
