section.container-fluid._banner._index
	.container
		h1 Материалы для уплотнения
			br
			| резъбовых соединений

		a(href="#").scroll
			img(src="img/mouse.png" alt="Прокрутите")

		.products
			.products--item
				.products--item-image
					img(src="img/goods-1.jpg", alt="Лен сантехнический")
				a(href="#").products--item-title Лен сантехнический
				ul.products--item-goods
					li Нить сантехническая льняная, 
					li Лен сантехнический в пакетах, 
					li Лен сантехнический без упаковки, 
					li Наборы монтажные

			.products--item
				.products--item-image
					img(src="img/goods-2.jpg", alt="Пасты и герметики")
				a(href="#").products--item-title Пасты и герметики
				ul.products--item-goods
					li Паста уплотнительная PASTUM
					li Силиконовые смазки
				
			.products--item
				.products--item-image
					img(src="img/goods-3.jpg", alt="Лен для строительства")
				a(href="#").products--item-title Лен для строительства
				ul.products--item-goods
					li Межбрусовый утеплитель в рулоне
					li Короткое льноволокно
			
			.products--item
				.products--item-image
					img(src="img/goods-4.jpg", alt="Потребительские товары")
				a(href="#").products--item-title Потребительские товары
				ul.products--item-goods
					li Семена льна 
					li Семена льна для сева 
					li Масло льна 
	