header.container-fluid
	.container
		.header--content
			.logo
				img(src="img/logo.png", alt="Логотип")
			nav
				ul.header--nav
					li.header--nav-item
						a(href="#") О компании
					li.header--nav-item
						a(href="#") Продукция
					li.header--nav-item
						a(href="#") Техническая информация
					li.header--nav-item
						a(href="#") Доставка
					li.header--nav-item
						a(href="#") Полезное
					li.header--nav-item
						a(href="#") Контакты
			ul.header--lang
				li.header--lang-item
					a(href="#") de 
				li.header--lang-item
					a(href="#") en 
				li.header--lang-item
					a(href="#") рус 