doctype html
html
	head
		title Uniflax
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet" href="css/bootstrap.min.css")
		link(rel="stylesheet" href="css/style.css")
	body
		include ./pug/header.pug
		include ./pug/_index.pug
		
		
		script(src="js/jquery-3.2.1.min.js")
		script(src="js/bootstrap.min.js")
		script(src="js/main.js")
			
